
.main-container{
  width: 100%;
}

/* FOOTER */

.footer {
    background: #85317a;
    color: #d3d3d3;
    height: 700px;
    position: relative;
  }
  
  .footer .footer-content {
    height: 400px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }

  .footer p, sapn, a {
    font-family: 'Raleway', sans-serif;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h2 {
    font-family: 'Merriweather', serif;
    color: white;
  }
  
  .footer .footer-content .about h1 span {
    color: hsl(256, 83%, 48%);
  }
  
  .footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    color: aliceblue;
  }

  .footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    color: white;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
  }
  
  .footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: blue;
    transition: all .3s;
  }
  
  .footer ul {
      list-style: none;
  }

  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    transition: all .3s;
    color: ghostwhite
  }
  
  .footer .footer-content .links ul a:hover {
    color: blue;
    text-decoration: none;
    margin-left: 15px;
    transition: all .3s;
  }
  
  .footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    width: 400px;
    line-height: 1rem;
    padding: 1rem 0.4rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
  }
  
  .footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    margin-right: 200px;
    color: white;
    border: none;
    padding: 5px 5px;
  }

  .footer .footer-content .contact-form .contact-btn:hover {
    background-color: rgb(13, 13, 114);
  }
  
  .footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
  }
  
  
/* MEDIA QUERIES */
@media only screen and (max-width: 934px) {
    .footer {
        height: auto;
    }
    
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }
    
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
    
    .footer .footer-content .contact-form .contact-btn {
        width: 100%;
    }
}

/* terms and condition */

.tnc-container{
  width: 90%;
  padding: 50px;
  text-align: justify;
  background-color: #bebdbd;
  margin: 20px;
}

.tnc-container h2{
  padding-top: 30px;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}

.tnc-container p, ol{
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
}

/* team */

.team-container{
  width: 100%;
  height: 600px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./pics/b.jpg);
}

.team-container background-image {
  opacity: 0.5;
}

.team-container img{
  width: 100%;
  height: 100%;
}

.team-container .header{
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}

.team-container .text{
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.slide-main{
  max-width: 800px;
}


.mySlides{
  display:none;
}

/* Feedback Form */

.feedback-form{
	font-family: 'josefin Sans', Sans-serif;
  height: 700px;
}

.view img{
	position: absolute;
	width: 100%;
	height: 100%;
}

.radio-inline{
	margin: 0px 40px 20px 0px;
	cursor: pointer;
}

label{
	color: #000;
}

#text{
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	border: none;
	width: 100%;
	color: #000;
}

#message{
	outline: none;
	border: none;
	padding: 10px 0px 0px 15px;
	font-size: 16px;
	color:#000;
	border-radius: 5px;
	width: 100%
}

.submit-btn {
  width: 100px; 
  position: absolute;
  margin-left: 35%;
}


panel-container {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 400px;
  text-align: center;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  cursor: pointer;
  flex: 1;
  padding: 20px;
  margin: 10px 5px;
}

.rating.active,
.rating:hover {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: rgb(126, 81, 123);
  display: inline-block;
  margin: 10px 0 0;
  font-size: 1rem;
}

.rating.active small,
.rating:hover small {
  color: #111;
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

